self.languagePluginUrl = './';
pyodide_packages = [
    {% for package in pyodide_packages %}
    '{{ package }}',
    {% endfor %}
];

pyodideapp_www_files = [
    {% for file in www_files %}
    './{{ file }}',
    {% endfor %}
];